/* THE UH OH ZONE  */
* {
    /* transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1s; */
}

/* FONTS  */

@font-face {
    font-family: TwitterChirp;
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/chirp-regular-web.woff");
}

@font-face {
    font-family: TwitterChirp;
    font-style: normal;
    font-weight: 500;
    src: url("./fonts/chirp-medium-web.woff");
}

@font-face {
    font-family: TwitterChirp;
    font-style: normal;
    font-weight: 700;
    src: url("./fonts/chirp-bold-web.woff");
}

@font-face {
    font-family: TwitterChirp;
    font-style: normal;
    font-weight: 800;
    src: url("./fonts/chirp-heavy-web.woff");
}

.App {
    padding: 40px 0;
    width: 100vw;
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    position: relative;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1s;
    background-color: #FFFFFF;
    /* change height and width properties before final deployment? */
}

#dark {
    background-color: #15202B;
    color: rgb(247, 249, 249);
}

#dark-secondary {
    color: #8B98A5;
}

.app-frame {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.wrapper {
    width: calc(600px - 16px);
    /* height: 900px;  */
    border-radius: 13px;
    border: 1px #F0F3F4 solid;
    overflow: hidden;
    /* remove height after populating with content */
    display: flex;
    flex-direction: column;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1s;
}

#dark-wrapper {
    border: 1px #3A444C solid;
}

.tweet-wrapper {
    display: flex;
    flex-direction: row;
    padding: 14px 17px;
    padding-bottom: 10px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1s;
    background-color: #FFF;
}

.tweet-wrapper:hover {
    background-color: #F0F3F4;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1s;
}

#dark-tweet-wrapper {
    background-color: #15202B;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1s;
}

#dark-tweet-wrapper:hover {
    background-color: #1E2731;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1s;
}

.tweet-avatar-column {
    width: calc(76px - 12px);
    display: flex;
    flex-direction: column;
}

.tweet-reference-symbol {
    height: 16px;
    width: 16px;
    padding: 0 10px;
    margin-top: -3px;
    margin-bottom: 5px;
    align-self: flex-end;
}

.user-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    /* margin-left: 16px; */
}

.loading {
    background-color: #F0F3F4;
    background: #f6f7f8;
    background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
    background-size: 800px 265px; 
    display: inline-block;
    position: relative; 
    

    animation-duration: 0.9s;
    animation-fill-mode: forwards; 
    animation-iteration-count: infinite;
    animation-name: placeholderShimmer;
    animation-timing-function: linear;
}

#dark-loading {
    background-color: #425166;
    background: #425166;
    background-image: linear-gradient(to right, #425166 0%, #4c5d74 20%, #425166 40%, #425166 100%);
    background-repeat: no-repeat;
    background-size: 800px 265px; 
    display: inline-block;
    position: relative; 
}

.tweet-body {
    width: 530px;
    display: flex;
    flex-direction: column;
}

.tweet-reference-user-action {
    margin: 0;
    color: #536471;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1s;
    margin-top: -3px;
    margin-bottom: 5px;
    font-family: TwitterChirp;
}

#tweet-reference-user-action-dark {
    color: #8B98A5;
}

.tweet-meta-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;
    align-items: center;
}

.meta-info-shimmer {
    width: 265px;
    height: 14px;
    border-radius: 7px;
    background-color: #F0F3F4;
    background: #f6f7f8;
    background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
    background-size: 800px 265px; 
    display: inline-block;
    position: relative; 
    

    animation-duration: 0.9s;
    animation-fill-mode: forwards; 
    animation-iteration-count: infinite;
    animation-name: placeholderShimmer;
    animation-timing-function: linear;
}

.display-name {
    font-family: TwitterChirp;
    font-weight: 700;
    font-size: 15px;
    margin: 0;
    color: #0f1419;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1s;
}

#dark-display-name {
    color:rgb(247, 249, 249);
}

.verified-account-logo {
    height: 18.5px;
    width: 18.5px;
    margin-left: 2px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1s;
}

.username {
    font-family: TwitterChirp;
    font-weight: 400;
    font-size: 15px;
    color: #536471;
    margin: 0;
    margin-left: 5px;
    letter-spacing: -0.2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1s;
}

.interpunct {
    font-family: TwitterChirp;
    font-weight: 400;
    font-size: 15px;
    color: #536471;
    margin: 0;
    margin-left: 5px;
    letter-spacing: -0.2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1s;
}

.tweet-time {
    font-family: TwitterChirp;
    font-weight: 400;
    font-size: 15px;
    color: #536471;
    margin: 0;
    margin-left: 5px;
    letter-spacing: -0.2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1s;
}

.tweet-body-text {
    font-family: TwitterChirp;
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    line-height: 20px;
    color: #0f1419;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1s;
    /* letter-spacing: -0.2px; */
}

#dark-tweet-body-text {
    color: rgb(247, 249, 249);
}

.body-text-shimmer-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding-top: 15px;
}

.body-text-shimmer-full {
    width: 490px;
    height: 14px;
    background-color: #F0F3F4;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1s;
    background: #f6f7f8;
    background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
    background-size: 800px 265px; 
    display: inline-block;
    position: relative; 
    

    animation-duration: 0.9s;
    animation-fill-mode: forwards; 
    animation-iteration-count: infinite;
    animation-name: placeholderShimmer;
    animation-timing-function: linear;
}

.body-text-shimmer-fraction {
    width: 166px;
    height: 14px;
    background-color: #F0F3F4;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1s;
    background: #f6f7f8;
    background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
    background-size: 800px 265px; 
    display: inline-block;
    position: relative; 
    

    animation-duration: 0.9s;
    animation-fill-mode: forwards; 
    animation-iteration-count: infinite;
    animation-name: placeholderShimmer;
    animation-timing-function: linear;
}

.tweet-body-media-wrapper {
    display: flex;
    width: fit-content;
    max-width: 490px;
    border-radius: 14px;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 7px;
}

.tweet-body-media-warning {
    display: flex;
    width: fit-content;
    position: relative;
    justify-content: center;
}

.tweet-body-media-warning-text {
    position: absolute;
    align-self: center;
    text-align: center;
    color: #F0F3F4;
    text-shadow: 1px 1px 2px #0f1419;
    font-family: TwitterChirp;
    font-weight: 600;
    font-size: 20px;
    margin: 20px;
    z-index: 2;
}

.tweet-body-media-two-column-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 5px;
    width: 100%;
}

/* .tweet-body-media-three-photo-layout {

} */

.tweet-body-media-half-wrapper {
    display: flex;
    justify-content: center;
    max-width: 49.7%;
    height: 284px;
    overflow: hidden;
}

.tweet-body-media-half {
    height: 100%;
}

.tweet-body-media-quarter-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 140px;
}

.tweet-body-media-quarter {
    width: 100%;
    height: 255px;
    justify-self: center;
    object-fit: cover;
}

.tweet-body-media-two-quarters-photo-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 49.7%;
    height: 284px;
    overflow: hidden;
}

.tweet-body-media {
    max-width: 100%;
    max-height: 510px;
    height: auto;
}

#darkened {
    filter: brightness(30%);
}

.body-media-wrapper-shimmer {
    width: 490px;
    height: 265px;
    background-color: #F0F3F4;
    border-radius: 14px;
    margin-top: 15px;
    margin-bottom: 7px;
    background: #f6f7f8;
    background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
    background-size: 800px 265px; 
    display: inline-block;
    position: relative; 
    

    animation-duration: 0.9s;
    animation-fill-mode: forwards; 
    animation-iteration-count: infinite;
    animation-name: placeholderShimmer;
    animation-timing-function: linear;
}

@keyframes placeholderShimmer {
    0% {
      background-position: -468px 0;
    }
    
    100% {
      background-position: 468px 0; 
    }
  }

.tweet-actions {
    display: flex;
    flex-direction: row;
    margin: 0;
    /* padding: 7px; */
    /* margin-top: 10px; */
    margin-left: -8px;
    align-items: center;
    column-gap: 60px;
}

.tweet-action-wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 7px;
    align-items: center;
}

.tweet-action-counter {
    font-family: TwitterChirp;
    font-size: 13px;
    font-weight: 400;
    color: #58636F;
    margin: 2px 0;
    transition: color cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1.5s;
    width: 32px;
}

.tweet-action-counter-dark {
    font-family: TwitterChirp;
    font-size: 13px;
    font-weight: 400;
    color: #8D98A4;
    margin: 2px 0;
    transition: color cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1.5s;
    width: 32px;
}

.tweet-action-button {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1s;
}

.tweet-action-button-wrapper {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1.5s;
    background-color: transparent;
}

.tweet-action-wrapper:hover #reply-wrapper {
    /* background-color: #E7EEF5; */
    background-color: rgba(71, 155, 233, 0.09);
}

.tweet-action-wrapper:hover #retweet-wrapper {
    /* background-color: #E7EFEA; */
    background-color: rgba(83, 182, 129, 0.09);
}

.tweet-action-wrapper:hover #react-wrapper {
    /* background-color: #F2E5EB; */
    background-color: rgba(229, 58, 126, 0.09);
}

.tweet-action-wrapper:hover #share-wrapper {
    /* background-color: #E7EEF5; */
    background-color: rgba(71, 155, 233, 0.09);
}

.tweet-action-wrapper:hover #reply, #reply-counter-dark {
    fill: #479BE9;
}

.tweet-action-wrapper:hover #replyCounter{
    color: #479BE9;
}

#reply-counter-dark {
    color: #8D98A4;    
}

#retweet-counter-dark {
    color: #8D98A4;
}

#react-counter-dark {
    color: #8D98A4;
}

.tweet-action-wrapper:hover #retweet, #retweetCounter{
    fill: #53B681;
}

.tweet-action-wrapper:hover #retweetCounter{
    color: #53B681;
}

.tweet-action-wrapper:hover #react, #reactCounter{
    fill: #E53A7F;
}

.tweet-action-wrapper:hover #reactCounter{
    color: #E53A7F;
}

.tweet-action-wrapper:hover #share{
    fill: #479BE9;
}

.tweet-actions-icon {
    width: 20px;
    height: 20px;
    fill:#6E767D;
    transition: fill cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1.5s;
}

.action-wrapper-shimmer {
    height: 14px;
    width: 53px;
    background-color: #F0F3F4;
    margin-left: 20px;
    background: #f6f7f8;
    background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
    background-size: 800px 265px; 
    display: inline-block;
    position: relative; 
    

    animation-duration: 0.9s;
    animation-fill-mode: forwards; 
    animation-iteration-count: infinite;
    animation-name: placeholderShimmer;
    animation-timing-function: linear;
}

.tweet-divider {
    margin: 0;
    border-bottom: none;
    border-top: 1px #F0F3F4 solid;
    border-left: none;
    border-right: none;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1s;
}

#tweet-divider-dark {
    border-top: 1px #3A444C solid;
}

.sidebar-column-left {
    display: flex;
    width: 290px;
}

.sidebar-column-right {
    display: flex;
    flex-direction: column;
    margin: 0 24px;
    row-gap: 10px;
    position: sticky;
    top: 40px;
    height: fit-content;
}

.toggle-wrapper-outer {
    display: flex;
    position: relative;
}

.toggle-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80px;
    height: 36px;
    background-color: #F0F3F4;
    position: relative;
    border-radius: 30px;
    /* top: 40px;
    right: 510px; */
    padding: 0;
    margin: 0;
    border: 0;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1s;
}

.toggle-wrapper:hover {
    cursor: pointer;
}

#toggle-wrapper-dark {
    background-color: #273340;
}

.toggle-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(70, 170, 237);
    margin: 0 5px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    position: absolute;
    right: 44px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1s;
}

#toggle-circle-dark {
    right: 0px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1s;
}

.search-bar-wrapper {
}

.search-bar-outer {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-icon {
    height: 20px;
    width: 20px;
    position: absolute;
    left: 20px;
    fill: #536371;
}

#search-icon-dark {
    fill: #8A98A5;
}

.search-bar {
    width: 292px;
    height: 45px;
    border-radius: 22px;
    border: 1px solid transparent;
    background-color: #F0F3F4;
    padding-left: 58px;
    font-family: TwitterChirp;
    font-size: 16px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1s;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 0;
}

#search-bar-dark {
    background-color: #273340;
    caret-color: #FFFFFF;
    color: #FFFFFF;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1s;
}

#search-bar-dark::placeholder {
    color: #8A98A5;
}

.search-bar::placeholder {
    color: #536371;
}

.search-bar:focus {
    background-color: #FFFFFF;
    border: 1px solid #1B9BEF;
    outline: none;
}

.search-bar:focus ~ .search-icon {
    fill: #1B9BEF;
}

#search-bar-dark:focus ~ .search-icon{
    fill: #1B9BEF;
}

#search-bar-dark:focus {
    background-color: #15202B;
}

.error-wrapper {
    min-height: 150px;
    padding: 0 20px;
    margin: 20px 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-message {
    font-family: TwitterChirp;
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    line-height: 20px;
    color: #536471;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1s;
    white-space: pre-line;
}

@media only screen and (max-width: 600px) {
    body {
        overflow-x: hidden;
    }

    .App {
        flex-direction: column-reverse;
        align-items: center;
        padding: 0;
        min-height: 100vh;
        min-height: -webkit-fill-available;
        justify-content: flex-end;
    }
    
    .sidebar-column-left {
        display: none;
    }
    
    .wrapper {
        width: 390px;
        border-radius: 0;
        border: none;
    }

    #dark-wrapper {
        border: none;
    }

    .tweet-wrapper {
        padding: 11px 16px;
    }

    .sidebar-column-right {
        width: 390px;
        margin: 0;
        top: 0;
        flex-direction: row-reverse;
        padding: 8px 0;
        /* column-gap: 10px; */
        justify-content: space-between;
        background-color: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(3px);
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
        transition-duration: 1s;
    }

    #sidebar-column-right-dark-mobile {
        background-color: rgba(21, 32, 43, 0.9);
    }

    .tweet-body {
        width: 300px;
    }

    .tweet-actions {
        column-gap: 17px;
    }

    .toggle-wrapper-outer {
        margin-right: 15px;
    }

    .toggle-wrapper {
        height: 32px;
        /* height: 38px; */
        width: 64px;

    }

    .toggle-circle {
        right: 28px;
    }

    .search-bar-wrapper {
        margin-left: 15px;
    }

    .search-bar {
        /* width: 250px; */
        width: 228px;
        /* width: 222px; */
        height: 28px;
        font-size: 16px;
        border-radius: 30px;
    }

    .meta-info-shimmer {
        width: 200px;
    }

    .body-text-shimmer-full {
        width: 300px;
    }
    
    .body-text-shimmer-fraction {
        width: 150px;
    }

    .body-media-wrapper-shimmer {
        width: 300px;
    }
}