.App {
    text-align: center;
}

.app-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 600px;
    height: 900px; 
    background-color: lavender;
    border-radius: 19px;
    /* remove height after populating with content */
}