/* FONTS  */

@font-face {
    font-family: SF-Pro-Text;
    font-style: normal;
    font-weight: 200;
    src: url("./fonts/SF-Pro-Text-Thin.otf");
}

@font-face {
    font-family: SF-Pro-Text;
    font-style: normal;
    font-weight: 300;
    src: url("./fonts/SF-Pro-Text-Light.otf");
}

@font-face {
    font-family: SF-Pro-Text;
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/SF-Pro-Text-Regular.otf");
}

@font-face {
    font-family: SF-Pro-Text;
    font-style: normal;
    font-weight: 500;
    src: url("./fonts/SF-Pro-Text-Medium.otf");
}

@font-face {
    font-family: SF-Pro-Text;
    font-style: normal;
    font-weight: 600;
    src: url("./fonts/SF-Pro-Text-Semibold.otf");
}

@font-face {
    font-family: SF-Pro-Text;
    font-style: normal;
    font-weight: 700;
    src: url("./fonts/SF-Pro-Text-Bold.otf");
}

@font-face {
    font-family: TwitterChirp;
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/chirp-regular-web.woff");
}

@font-face {
    font-family: TwitterChirp;
    font-style: normal;
    font-weight: 500;
    src: url("./fonts/chirp-medium-web.woff");
}

@font-face {
    font-family: TwitterChirp;
    font-style: normal;
    font-weight: 700;
    src: url("./fonts/chirp-bold-web.woff");
}

@font-face {
    font-family: TwitterChirp;
    font-style: normal;
    font-weight: 800;
    src: url("./fonts/chirp-heavy-web.woff");
}

.App {
    margin: 40px 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* change height and width properties before final deployment? */
}

.app-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: calc(600px - 16px);
    /* height: 900px;  */
    border-radius: 13px;
    border: 1px #F0F3F4 solid;
    overflow: hidden;
    /* remove height after populating with content */
    display: flex;
    flex-direction: column;
}

.tweet-wrapper {
    display: flex;
    flex-direction: row;
    padding: 14px 17px;
    padding-bottom: 10px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1s;
    background-color: #FFF;
}

.tweet-wrapper:hover {
    background-color: #F0F3F4;
}

.tweet-avatar-column {
    width: calc(76px - 12px);
    display: flex;
}

.user-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    /* margin-left: 16px; */
}

.tweet-body {
    width: 530px;
    display: flex;
    flex-direction: column;
}

.tweet-meta-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;
    align-items: center;
}

.display-name {
    font-family: TwitterChirp;
    font-weight: 700;
    font-size: 15px;
    margin: 0;
    color: #0f1419;
}

.verified-account-logo {
    height: 18.5px;
    width: 18.5px;
    margin-left: 2px;
}

.username {
    font-family: TwitterChirp;
    font-weight: 400;
    font-size: 15px;
    color: #536471;
    margin: 0;
    margin-left: 5px;
    letter-spacing: -0.2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.interpunct {
    font-family: TwitterChirp;
    font-weight: 400;
    font-size: 15px;
    color: #536471;
    margin: 0;
    margin-left: 5px;
    letter-spacing: -0.2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tweet-time {
    font-family: TwitterChirp;
    font-weight: 400;
    font-size: 15px;
    color: #536471;
    margin: 0;
    margin-left: 5px;
    letter-spacing: -0.2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tweet-body-text {
    font-family: TwitterChirp;
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    line-height: 20px;
    color: #0f1419;
    /* letter-spacing: -0.2px; */
}

.tweet-body-media-wrapper {
    display: flex;
    width: 490px;
    border-radius: 14px;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 7px;
}

.tweet-body-media {
    width: 100%;
    height: auto;
}

.tweet-actions {
    display: flex;
    flex-direction: row;
    margin: 0;
    /* padding: 7px; */
    margin-top: 10px;
    align-items: center;
    column-gap: 80px;
}

.tweet-action-wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
}

.tweet-action-counter {
    font-family: SF-Pro-Text;
    font-size: 13px;
    font-weight: 400;
    color: #58636F;
    margin: 2px 0;
    transition: color cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 0.5s;
    width: 32px;
}

.tweet-action-button {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1s;
}

.tweet-action-button:hover #reply {
    fill: #479BE9;
}

.tweet-action-button:hover ~ #replyCounter{
    color: #479BE9;
}

.tweet-action-button:hover #retweet, #retweetCounter{
    fill: #53B681;
}

.tweet-action-button:hover ~ #retweetCounter{
    color: #53B681;
}

.tweet-action-button:hover #react, #reactCounter{
    fill: #E53A7F;
}

.tweet-action-button:hover ~ #reactCounter{
    color: #E53A7F;
}

.tweet-action-button:hover #share{
    fill: #479BE9;
}

.tweet-actions-icon {
    width: 20px;
    height: 20px;
    fill:#6E767D;
    transition: fill cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 0.5s;
}

.tweet-divider {
    margin: 0;
    border-bottom: none;
    border-top: 1px #F0F3F4 solid;
    border-left: none;
    border-right: none;
}